# CONFIGURAÇÕES DO OLIVEIRAZORD 2026

# Chave da API do CapMonster Cloud para resolução de Captchas
CAPMONSTER_API_KEY=SUA_CHAVE_AQUI

# Credenciais de acesso ao site PROEIS (ID Funcional e Senha)
PROEIS_LOGIN=SEU_LOGIN
PROEIS_SENHA=SUA_SENHA
